<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.nekotalk.persistence.MomentMapper">

    <insert id="insertMoment" >
        INSERT INTO MOMENT
        VALUES(null,#{phoneNumber},  #{text},#{originality},  #{powerType}, #{momentTimeStamp});
    </insert>

    <insert id="insertMomentPicture" >
        INSERT INTO MOMENTPICTURE
        VALUES(null,#{url},  #{momentId});
    </insert>

    <insert id="insertLabel" >
        INSERT INTO LABEL
        VALUES(null,#{description});
    </insert>

    <insert id="insertLabelInclude" >
        INSERT INTO LABELINCLUDE
        VALUES(#{momentId},#{labelId});
    </insert>

    <insert id="insertPower" >
        INSERT INTO POWERUSERS
        VALUES(#{momentId},#{phoneNumber});
    </insert>

    <insert id="insertComment" >
        INSERT INTO COMMENT
        VALUES(null,#{phoneNumber}, #{momentId},#{replyCommentId},  #{text}, #{commentTimeStamp});
    </insert>

    <insert id="insertFavour" >
        INSERT INTO FAVOUR
        VALUES(#{momentId},#{phoneNumber});
    </insert>

    <insert id="insertFork" >
        INSERT INTO ForkMoment
        VALUES(#{momentId},  #{forkFrom});
    </insert>

    <insert id="insertOriginalityMoment" >
        INSERT INTO OriginalityMoment
        VALUES(#{momentId},  #{address});
    </insert>




    <delete id="deleteMoment">
        DELETE
        FROM MOMENT
        WHERE MOMENTID = #{momentId};
    </delete>

    <delete id="deleteMomentPicture">
        DELETE
        FROM MOMENTPICTURE
        WHERE MOMENTID = #{momentId};
    </delete>



    <delete id="deleteLabel">
        DELETE
        FROM MOMENTLABEL
        WHERE LABELID = #{labelId};
    </delete>

    <delete id="deleteLabelInclude">
        DELETE
        FROM LABELINCLUDE
        WHERE LABELID = #{labelID}
        AND MOMENTID = #{momentId};
    </delete>

    <delete id="deleteMomentLabelInclude">
        DELETE
        FROM LABELINCLUDE
        WHERE momentId = #{momentId};

    </delete>

    <delete id="deletePower">
        DELETE
        FROM POWERUSERS
        WHERE momentId = #{momentId};
    </delete>

    <delete id="deleteMomentPower">
        DELETE
        FROM POWERUSERS
        WHERE momentId = #{momentId};
    </delete>

    <delete id="deleteAllComments">
        DELETE
        FROM COMMENT
        WHERE momentId = #{momentId};
    </delete>

    <delete id="deleteComment">
        DELETE
        FROM COMMENT
        WHERE commentId = #{commentId};
    </delete>

    <delete id="deleteReplyComment">
        DELETE
        FROM COMMENT
        WHERE replyCommentId = #{replyCommentId};
    </delete>

    <delete id="deleteAllFavour">
        DELETE
        FROM FAVOUR
        WHERE momentId = #{momentId};
    </delete>

    <delete id="deleteFavour">
        DELETE
        FROM FAVOUR
        WHERE momentId = #{momentId}
        AND phoneNumber = #{phoneNumber};
    </delete>

    <delete id="deleteAllFork">
        DELETE
        FROM FORKMOMENT
        WHERE forkFrom = #{forkFrom};
    </delete>

    <delete id="deleteFork">
        DELETE
        FROM FORKMOMENT
        WHERE momentId = #{momentId};
    </delete>

    <delete id="deleteOriginalityMoment">
        DELETE
        FROM ORIGINALITYMOMENT
        WHERE momentId = #{momentId};
    </delete>


    <update id="updateMoment" >
        UPDATE MOMENT
        SET
            text = #{text}
        WHERE momentId = #{momentId};
    </update>


    <update id="updateComment">
        UPDATE COMMENT
        SET
            text = #{text}
        WHERE momentId = #{momentId}

    </update>

    <update id="updateMomentPicture">
        UPDATE MOMENTPICTURE
        SET
            url = #{url}
        WHERE pictureId = #{pictureId};
    </update>

    <select id="getRecentMomentId" resultType="String">
        SELECT momentId
        FROM MOMENT
        WHERE phoneNumber = #{phoneNumber}
        ORDER BY momentId DESC
        LIMIT 1
    </select>

    <select id="getFirstMomentPicture" resultType="MomentPicture">
        SELECT *
        FROM MOMENTPICTURE
        WHERE momentId = #{momentId}
        LIMIT 1;
    </select>

    <select id="getRecentMomentPictureId" resultType="String">
        SELECT pictureId
        FROM MOMENTPICTURE
        WHERE momentId = #{momentId}
        ORDER BY pictureId DESC
        LIMIT 1;
    </select>

    <select id="getMomentPictureListByMomentId" resultType="MomentPicture">
        SELECT *
        FROM MOMENTPICTURE
        WHERE momentId = #{momentId};
    </select>

    <select id="getCommentByCommentId" resultType="Comment">
        SELECT *
        FROM COMMENT
        WHERE commentId = #{commentId};
    </select>

    <select id="getMomentByPhoneNumber"  resultType="Moment">
       SELECT momentId,phoneNumber,text,originality,powerTpye, momentTimeStamp
       FROM MOMENT
       WHERE phoneNumber = #{phoneNumber};
    </select>

    <select id="getLabelDescriptionByMomentId" resultType="String">
        SELECT description
        FROM LABEL, LABELINCLUDE
        WHERE LABEL.labelId = LABELINCLUDE.labelId
        AND momentId = #{momentId};
    </select>

    <select id="getLabelIdByDescription"  resultType="String">
       SELECT labelId
       FROM LABEL
       WHERE description = #{description};
    </select>

    <select id="getMomentIdByLabel"  resultType="String">
       SELECT MOMENT.momentId
       FROM LABELINCLUDE, MOMENT
       WHERE labelId = #{labelId}
       AND MOMENT.momentId = LABELINCLUDE.momentId
       ORDER BY momentTimeStamp DESC
    </select>

    <select id="getMomentByMomentId"  resultType="Moment">
       SELECT momentId,phoneNumber,text,originality,powerTpye, momentTimeStamp
       FROM MOMENT
       WHERE momentId = #{momentId};
    </select>

    <select id="getOriginalityMomentByMomentId" resultType="OriginalityMoment">
        SELECT *
        FROM ORIGINALITYMOMENT
        WHERE momentId = #{momentId};
    </select>

    <select id="getForkMomentByMomentId" resultType="ForkMoment">
        SELECT *
        FROM FORKMOMENT
        WHERE momentId = #{momentId};
    </select>

    <select id="getMomentIdByPhoneNumber"  resultType="String">
       SELECT momentId
       FROM MOMENT
       WHERE phoneNumber = #{phoneNumber}
       ORDER BY momentTimeStamp DESC
    </select>


    <select id="getMomentIdListByFollowing" resultType="String">
        SELECT momentId
        FROM MOMENT, FOLLOWING
        WHERE userPhoneNumber = #{phoneNumber}
        AND phoneNumber = followingPhoneNumber
        ORDER BY momentTimeStamp DESC
    </select>

    <select id="getMomentIdListByFavour" resultType="String">
         SELECT MOMENT.momentId
       FROM FAVOUR, MOMENT
       WHERE FAVOUR.phoneNumber = #{phoneNumber}
       AND FAVOUR.momentId = MOMENT.momentId
       ORDER BY momentTimeStamp DESC
    </select>

    <select id="getMomentIdList" resultType="String">
        SELECT  momentId
        FROM MOMENT
        ORDER BY momentTimeStamp DESC
    </select>

    <select id="getMomentCommentList" resultType="Comment">
        SELECT *
        FROM COMMENT
        WHERE momentId = #{momentId}
        AND  replyCommentId = 0
        ORDER BY commentId DESC ;
    </select>

    <select id="getReplyCommentList" resultType="Comment">
        SELECT *
        FROM COMMENT
        WHERE replyCommentId = #{commentId};
    </select>

    <select id="getCommentNumber" resultType="int">
        SELECT count(*)
        FROM COMMENT
        WHERE momentId = #{momentId};
    </select>

    <select id="ifPowerUsers" resultType="PowerUsers">
        SELECT *
        FROM POWERUSERS
        WHERE momentId = #{momentId}
        AND  phoneNumber = #{phoneNumber};
    </select>

</mapper>