<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.nekotalk.persistence.AccountMapper">

    <insert id="insertMoment" >
        INSERT INTO MOMENT
        VALUES(null,#{phoneNumber},  #{text},#{originality},  #{powerType});
    </insert>

    <insert id="insertMomentPicture" >
        INSERT INTO MOMENTPICTURE
        VALUES(null,#{url},  #{momentId});
    </insert>

    <insert id="insertLabel" >
        INSERT INTO LABEL
        VALUES(null,#{description});
    </insert>

    <insert id="insertLabelInclude" >
        INSERT INTO LABELINCLUDE
        VALUES(#{momentId},#{labelId});
    </insert>

    <insert id="insertPower" >
        INSERT INTO POWERUSERS
        VALUES(#{momentId},#{phoneNumber});
    </insert>

    <insert id="insertComments" >
        INSERT INTO COMMENTS
        VALUES(null,#{phoneNumber}, #{momentId},#{replyCommentId},  #{text});
    </insert>

    <insert id="insertFavour" >
        INSERT INTO FAVOUR
        VALUES(#{momentId},#{phoneNumber});
    </insert>

    <insert id="insertFork" >
        INSERT INTO ForkMoment
        VALUES({momentId},  #{forkForm});
    </insert>

    <insert id="insertOriginalityMoment" >
        INSERT INTO OriginalityMoment
        VALUES(#{momentId},  #{address});
    </insert>




    <delete id="deleteMoment">
        DELETE
        FROM MOMENT
        WHERE MOMENTID = #{momentId};
    </delete>

    <delete id="deleteMomentPicture">
        DELETE
        FROM MOMENTPICTURE
        WHERE MOMENTID = #{momentId};
    </delete>



    <delete id="deleteLabel">
        DELETE
        FROM MOMENTLABEL
        WHERE LABELID = #{labelId};
    </delete>

    <delete id="deleteLabelInclude">
        DELETE
        FROM LABELINCLUDE
        WHERE LABELID = #{labelID}
        AND MOMENTID = #{momentId};
    </delete>

    <delete id="deletePower">
        DELETE
        FROM POWERUSERS
        WHERE momentId = #{momentId};
    </delete>

    <delete id="deleteAllComments">
        DELETE
        FROM COMMENTS
        WHERE momentId = #{momentId};
    </delete>

    <delete id="deleteComment">
        DELETE
        FROM COMMENTS
        WHERE commentId = #{commentId};
    </delete>

    <delete id="deleteSomeReplyComment">
        DELETE
        FROM COMMENTS
        WHERE replyCommentId = #{replyCommentId};
    </delete>

    <delete id="deleteSomeReplyComment">
        DELETE
        FROM COMMENTS
        WHERE commentId = #{commentId}
        AND replyCommentId = #{replyCommentId};
    </delete>

    <delete id="deleteAllFavour">
        DELETE
        FROM FAVOUR
        WHERE momentId = #{momentId};
    </delete>

    <delete id="deleteFavour">
        DELETE
        FROM FAVOUR
        WHERE momentId = #{momentId}
        AND phoneNumber=#{phoneNumber};
    </delete>

    <delete id="deleteAllFork">
        DELETE
        FROM FORKMOMENT
        WHERE forkForm = #{forkForm};
    </delete>

    <delete id="deleteFavour">
        DELETE
        FROM FORKMOMENT
        WHERE momentId = #{momentId};
    </delete>

    <delete id="deleteOriginalityMoment">
        DELETE
        FROM ORIGINALITYMOMENT
        WHERE momentId = #{momentId};
    </delete>


    <update id="updateMoment" >
        UPDATE MOMENT
        SET
            text = #{text}
        WHERE momentId = #{momentId};
    </update>




    <select id="getMomentByPhoneNumber"  resultType="Moment">
       SELECT momentId,phoneNumber,text,originality,powerTpye
       FROM MOMENT
       WHERE phoneNumber = #{phoneNumber};
    </select>

    <select id="getLabelIdByDescription"  resultType="int">
       SELECT labelId
       FROM LABEL
       WHERE description = #{description};
    </select>

    <select id="getMomentByLabel"  resultType="Integer">
       SELECT momentId
       FROM LabelInclude
       WHERE LabelId = #{LabelId};
    </select>

    <select id="getMomentByMomentId"  resultType="Moment">
       SELECT momentId,phoneNumber,text,originality,powerTpye
       FROM MOMENT
       WHERE momentId = #{momentId};
    </select>

    <select id="getMomentIdByPhoneNumber"  resultType="Integer">
       SELECT momentId
       FROM FAVOUR
       WHERE phoneNumber = #{phoneNumber};
    </select>




</mapper>