<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.nekotalk.persistence.SessionMapper">

    <insert id="insertSession" >
        INSERT INTO SESSION
        VALUES(null,#{more},  #{createTimeStamp} );
    </insert>

    <insert id="insertSessionJoin" >
        INSERT INTO SESSIONJOIN
        VALUES(#{sessionId},#{phoneNumber} );
    </insert>

    <insert id="insertSessionMessage" >
        INSERT INTO SESSIONMESSAGE
        VALUES(null,#{sessionId},#{phoneNumber},  #{text}, #{picture}, #{sessionTimeStamp});
    </insert>

    <update id="updateSessionMessage">
        UPDATE SESSIONMESSAGE
        SET
            picture = #{picture}
        WHERE messageId = #{messageId};
    </update>


    <select id="getRecentSessionMessageId" resultType="String">
        SELECT messageId
        FROM SESSIONMESSAGE
        WHERE sessionId = #{session}
        ORDER BY messageId DESC
        LIMIT 1;
    </select>

    <select id="getRecentSessionId" resultType="String">
        SELECT sessionId
        FROM SESSIONJOIN
        WHERE phoneNumber = #{phoneNumber}
        ORDER BY sessionId DESC
        LIMIT 1;
    </select>

    <select id="getSession"  resultType="Session">
       SELECT sessionId,more,createTimestamp
       FROM SESSION
       WHERE sessionId = #{sessionId};
    </select>

    <select id="getUserSession"  resultType="Integer">
       SELECT sessionId
       FROM SESSIONJOIN
       WHERE phoneNumber = #{phoneNumber};
    </select>

    <select id="getSessionMessage"  resultType="SessionMessage">
       SELECT *
       FROM SESSIONMESSAGE
       WHERE sessionId = #{sessionId};
    </select>


    <select id="getSessionJoin"  resultType="String">
       SELECT phoneNumber
       FROM SESSIONJOIN
       WHERE sessionId = #{sessionId};
    </select>

</mapper>